.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 0 auto;
}

.proceed-link {
    text-decoration: none;
}

.btn-proceed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    background: #FF9900;
    border-radius: 4px;
    color: white;
    height: 56px;
    font-size: 21px;
    margin: 10px auto;
}

.pagination {
    text-align: center;
    margin-bottom: 50px;
}

.pagination .selected {
    background-color: #FF9900;
}